body {
    background-color: #444;
    color: #FFF;
}

#topo {
    background-color: green;
    display: flex;
    flex-direction: row;
}

#logo {
    width: 20%;
    background-color: red;
}

#menu {
    width: 80%;
    background-color: yellow;
}


#slideshow {
    height: 200px;
    background-color: gray;
}

#banners {
    display: flex;
    color: blue;
}

.banner {
    width: 33.33%;
}